@*@model Contests.App.Models.ViewModels.UserProfileViewModel*@
@model Contests.App.Models.ViewModels.UserInfoViewModel
@{
    ViewBag.Title = "User page";
}

<h2>Profile</h2>

<div class="aside col-md-3">
   @if (Request.IsAuthenticated && this.User.Identity.Name == @Model.UserName)
   {
    @Html.Partial("Partial/UserInfo", @Model);
   } 
</div>

<div class="body-main col-md-9">
    
</div>


@section scripts{
    <script src="~/Scripts/twitter.js"></script>
    <script src="~/Scripts/infiniteScroll.js"></script>

    <script type="text/javascript">
        var prepend = true;
        $(function () {
            $("div#loading").hide();
        });
        var moreRowsUrl = ""; //the URL to your ActionMethod
        //var moreRowsUrl = ' Url.RouteUrl("CustomerList")'; //if you have a route defined, you can use an Html helper like Url.RouteUrl
        $(window).scroll(scrollHandler);

    </script>
}
