@model Contests.App.Models.ViewModels.PhotoViewModel



<div class="col-md-3 photo-contests-photo-wrapper">
    <div class="photo-contest-photo">
        <img src="@Model.Url" class="gallery-item" width="300"/>
    </div>
    <div class="photo-contest-photographer">
        @Html.ActionLink("Put Photographer name", "Details", "Users", routeValues: null, htmlAttributes: new {title = "Photographer profile"})
        <div class="photo-contest-category">Put category</div>
    </div>
</div>
