@model IEnumerable<Contests.App.Models.ViewModels.PhotoViewModel>

@{
    ViewBag.Title = "Users photos review";
}

@Html.DisplayForModel()






@*<div>

    @foreach (var photo in ViewBag.Photos)
    {
        <div class="col-md-3">
                <img src="@photo" class="gallery-item" width="250px" />
        </div>

    }
</div>*@