/*img.profile-picture {
    border: solid 6px;
    border-color: black;
    border-radius: 15px;
    max-width: 250px;
    max-height: 250px;
}
aside {
    float: left;
    position: fixed;
    max-width: 15%;
}

div.row-fluid {
    max-width: 25%;
    display: inline-flex
}

.span2 {
    padding-right: 30px;
}

.span2 img {
    margin-bottom: 20px;
}*/